/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;
$font-family-serif: "Atkinson Hyperlegible", sans-serif;

$primary: #c06767;
$body-bg: #f1f4eb;
$body-color: #393939;
$link-color: #d39f5b;
$popover-bg: #c64657;
$navbar-bg: #0b371c;
$navbar-fg: #d39f5b;
$navbar-hl: #f1f4eb;
$sidebar-bg: #75dbc8;
$sidebar-fg: #e5a10e;
$sidebar-hl: #6c970e;
$footer-bg: #0b371c;
$footer-fg: #d39f5b;
$code-block-bg: #f1f4eb;
$code-color: #e5a10e;
$code-bg: #0b371c;


/*-- scss:rules --*/
.blockquote {
    color: #949493;
}

h1,.h1,h2,.h2,h3,.h3 {
    color: rgb(199, 150, 87);
}
